.body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    background: linear-gradient(-45deg, #00FF00, #FFFFFF, #0000FF);
    background-size: 400% 400%;
    animation: gradientAnimation 15s infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container-fluid {
    z-index: 1;
    position: relative;
}

.fonfo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Resto de tu CSS existente */


.titulo {
    width: 101.7%;
    display: flex;
    text-align: center;
}
.titulo h1 {
font-weight: bold;
}
.container-fluid {
    margin-top: 50px;
}

.seleccion {
    height: 470px;
    display: flex;
}

.card { 
    margin-left: 210px;
    opacity: 0.8;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.card:hover {
    opacity: 1;
    transform: scale(1.1);
}

.card a {
    display: flex;
    justify-content: center;
    text-align: center;
}

/* .recuadro h4 {
    margin-top: 10px;
}

.recuadro h3 {
    margin-top: 10px;
}

.recuadro  {
    height: 200px;
}

.personal i,
.empresa i {
    font-size: 30px; 
    margin-right: 15px;
}

.recuadro {
    margin-top: 230px;
    text-align: center;
    border-radius: 30px;
}

.titulo {
    background-color: rgb(25,135,84);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.personal {
    border-right: 3px solid black;
   
}
.personal a{
    text-decoration: none;
    color: black;
}
.empresa a{
    text-decoration: none;
    color: black; 
}


@media (max-width: 768px) {
    .recuadro {
        margin-top: 280px; 
        margin-left: 50px;
        width: 300px;
    }

    .recuadro h3 {
        font-size: 20px;
    }
    .recuadro div {
        height: 60px;
    }

    .personal i,
    .empresa i {
        font-size: 24px;
        margin-right: 10px; 
    }

    .empresa a{
        text-decoration: none;
        color: black; 
    }

    .recuadro h3 {
        margin-top: 18px;
    }
} */