<!DOCTYPE html>
<html>

<head>
</head>

<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0;">
    <div class="container" style="max-width: 600px; margin: 0 auto; padding: 20px;">
        <div class="header" style="background-color: #00a8e8; color: #fff; text-align: center; padding: 20px;">
            <h1>¡Registro Exitoso en Parche!</h1>
        </div>
        <div class="content" style="background-color: #fff; padding: 20px;">
            <h2>Hola {{ usuario }}</h2>
            <p>Te has registrado exitosamente en Parche, la plataforma de eventos deportivos</p>
            <p>¡Bienvenido a nuestra comunidad!</p>
            <p>{{ current_datetime }}</p>
        </div>
        <div class="footer" style="background-color: #00a8e8; color: #fff; text-align: center; padding: 10px;">
            <p>&copy; 2023 Parche</p>
        </div>
    </div>
</body>

</html>