<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificación de Evento</title>
</head>
<body>
    <h2>¡El evento {{event.nombreactividad}} ha sido modificado!</h2>
    <p>Hola {{ usuario }},</p>
    <p> ¡Esperamos que lo disfrutes!</p>
    <p>Fecha de inicio del evento: {{ event.fechainicio }}</p>
    <p>Hora de inicio del evento: {{ event.hora }}</p>
</body>
</html>